doctype html
html(lang='en')
  include parts/header.pug
  body

    nav.site-navigation
      .hamburger-menu.d-lg-none
        span
        span
        span
        span
      ul
        li
          a(data-scroll, href='#slider-section') Home
        li
          a(data-scroll, href='#about-section') About
        li
          a(data-scroll, href='#speaker-section') Speakers
        li
          a(data-scroll, href='#tracks') Tracks

    section#slider-section
      .container#logo-container
        .row
          .col
            img#logo(src="./img/logo.png")
        div#type-area
      .container#info-container
        .row
          .col-sm-8.venue
            h3 Venue
            h2 Sahrdaya College of Engineering and Technology
          .col-sm-4.date
            h3 Date
            h2 24 August 2019
        
      img.slide(src="./img/bg1.jpg")
      img.slide(src="./img/bg2.jpg")
      img.slide(src="./img/bg4.jpg")
      img.slide(src="./img/bg3.jpg")

    section#about-section.section-content
      .container
        .row
          .col-sm-8  
            h1.pb-3 About
            p.text-justify 
              | Since 2016, Kerala Startup Mission, Nodal agency of Government of Kerala organizes IEDC Summit, Asia’s largest student Entrepreneurship Summit where the students get an opportunity to experience the technological diversities and advancements through a series of technology track events, brainstorming sessions, interactive community meet ups and product exhibitions.
            p.text-justify
              | IEDC Summit is also an avenue for participants of various units across the State to come together, to share their success stories, to learn from each other’s failures, to showcase their innovative products and also to develop strong networks that go a long way in developing sustainable enterprises.
          .col-sm-4
            .counter
              .counter-item
                span.count-text Attendees
                span.count-number(data-count="2000") 0
              .counter-item
                span.count-text Startups
                span.count-number(data-count="1000") 0
              .counter-item
                span.count-text Events
                span.count-number(data-count="100") 0
              .counter-item
                span.count-text Speakers
                span.count-number(data-count="25") 0
        .row
          .col.text-center
            .video-block
              iframe(type='text/html' width='830' height='400' src='//www.youtube.com/embed/iUsuwIyFzIk?autoplay=0&origin=http://example.com' frameborder='0')

    section#join-us.section-content
      .container
        .row
          .col-sm-8.text-center
            h3 Join us for the memorable days of immersing yourself into the great world of innovation &amp; entrepreneurship
            h1 on 24th August 2019 at
            img.img-fluid#sah_logo(src="./img/sah_logo.png")
          .col-sm-4.qr-code-block
            img.img-fluid(src="./img/qrcode.png")
            a(href="#")
              button.btn.btn-primary Register Now

    include variables/tracks.pug

    section#tracks.section-content
      .container
        h1.pb-3.text-center WHAT WE HAVE FOR YOU?
        for tracks in tracks1
          .card-deck.pt-5
            for track in tracks
              .card
                .icon-holder
                  .overlay
                  .circle
                    img(src="./img/"+track.image)
                h3 #{track.title}
                p #{track.desc}

    include variables/speakers.pug

    section#speaker-section.section-content
      .container
        h1.pb-3.text-center Some of our Previous Speakers
        .speaker-list
          for speaker in speakers
            .speaker
              img(src="./img/speakers-18/"+speaker.image+"-image.jpg")
              .descp
                h4 #{speaker.name}
                h5 #{speaker.company}
                h5 #{speaker.position}

    section#location
      iframe(type='text/html' width='100%' height='400' frameborder="0" style="border:0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15699.11827922123!2d76.2859136!3d10.3595024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47836d6961e2b979!2sSahrdaya+College+of+Engineering+and+Technology!5e0!3m2!1sen!2sin!4v1564466814064!5m2!1sen!2sin")

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")